body {
  background: linear-gradient(-45deg, #6252ee, #3c4de7, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#container {
  width: 60%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20%;
  border-radius: 8px;
  box-shadow: inset 0 0 0
    1000000000000000000000000000000000000000000000000000000000000000px
    rgba(255, 255, 255, 0.2);
}

.main-content {
  padding-right: 75px;
  padding-left: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-content p {
  text-align-last: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4;

  color: #ffffff;
}

.main-content h1 {
  text-align-last: center;
  page-break-before: always;
  font-size: 5.2rem;
  color: #ffffff;
}
