html {
  background-image: url("https://wallpapercave.com/wp/wp2757874.gif");
  background-color: #16191e;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  color: whitesmoke;
}

/*
div {
  background: rgba(88, 88, 88, 0.3);
}
*/
