<html>
    <head>
        {% if title %}
        <title>{{ title }} - Flask App</title>
        {% else %}
        <title>Flask App</title>
        {% endif %}
    </head>
    <body>
        <div>
            Flask App: 
            <a href="/index">Home</a>
            <a href="/login">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <u1>
            {% for message in messages%}
            <li>{{ message }}</li>
            {% endfor %}
        </u1>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html> 